body, html{
	background-color: #FAF3E0;
	margin-top: 0;
	margin-bottom: 50px;
}

h1 {
	text-align: center;
	font-size: 60px; 
	font-family: 'Didot';
	color: black;
	padding: 50px;
}

.navbar {
  position: absolute; /* Keeps it at the top even when scrolling */
  top: 0;
  left: 0;
  width: 100%;
  background:#FAF3E0; 
  padding: 15px 0;
  text-align: center;
  z-index: 1000; /* Ensures it's above everything */
}

/* Navigation Links */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: #3a1e05;
	font-family: 'Didot', sans-serif;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  transition: 0.3s ease-in-out;
}

.navbar ul li a:hover { /* Highlight effect */
  color: #f4b883;
  border-radius: 5px;
}


footer{
    background-color: #81542c;
    text-align: center;
    font-family: 'Didot', sans-serif;
    color: black;
    padding: 10px 0;       /* vertical padding only, keeps height consistent */
    width: 100vw;           /* full viewport width */
    position: fixed;        /* stays at bottom of viewport */
    bottom: 0;
    left: 0;                /* ensures left edge starts at screen edge */
    box-sizing: border-box; /* includes padding in width calculation */
}